<div class="footer">
	<div class="footer-main">
		<img class="footer-logo" src="assets/images/pool-pros-logo-footer.png">
		<div class="footer-connect">
			<span>CONNECT WITH US</span>
			<span class="footer-social">
				<img class="footer-social-img" src="assets/images/twitter-icon.png">
				<img class="footer-social-img" src="assets/images/facebook-icon.png">
				<img class="footer-social-img" src="assets/images/youtube-icon.png">
			</span>
		</div>
	</div>
	<div class="footer-secondary">
		<span>&copy; 2017 Pool Pros</span>
    <!-- <span>&verbar;</span> -->
    <span class="vertical-spacers">&#x0007C;</span>
		<span>Privacy Policy</span>
    <span class="vertical-spacers">&#x0007C;</span>
    <!-- <span>&vert;</span> -->
		<span>Terms and Conditions</span>
	</div>
</div>
