$blue-dark: #0e3f8a;
$blue-light: #2870dc;
$white: #ffffff;

$font-sm: 8px;

.footer {
	color: $white;
	text-align: center;

	&-connect {
		font-weight: 400;
	}

	&-logo {
    max-height: 24px;
		padding-bottom: 16px;
	}

	&-main {
		background-color: $blue-dark;
		padding: 28px 0;
	}

	&-secondary {
		background-color: $blue-light;
    font-size: $font-sm;
    font-weight: 200;
    padding: 12px 0;
	}

  &-social {
    margin-left: 20px;

    &-img {
      margin: 0 8px;
      max-height: 14px;
    }
  }
}
